.registerPageContent{
    width: 30%;
    margin: auto;
    margin-top: 12vh;

    .registerCard{
        padding: 2vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        width: 30vw;
        margin-bottom: 12vh;

        .registerBtn{
            margin-top: 3vh;
        }

        .txt{
            margin-top: 10px;
        }
    }
}